<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Portfolio</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/about">About <span class="sr-only">(current)</span></a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/myproject">My Project</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Login</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<style>
h1{
	 color:green;
     }
  small{
  	font-style:italic;
     }
#main{text-align:center;}
</style>
<style>.new{font-style:italic;color:white}
#new{font-style:bold; background:white}
body{background-color:black;
font-family:san serif;
font-size:30px;
font-style:italic;}
</style>
<div id="main" style="color:white">
<dl><dt style="color:blue">PERSONAL DETAILS</dt>
<dd>I was born on the 12th of March 2000 in Mombasa Kenya. I have lived in Mombasa until 2015 where we moved to Nairobi.For more details lets get connected to get to learn more.</dd>
<dl><dt style="color:blue">EDUCATION</dt>
<dd>I have attended various schools since my early childhood. I attended Marben School which is now called St Elizabeth Karen Mombasa to class 4 and later transferred to The Effort Junior School where i cleared in 2013. In my highschool i joined The Alliance Girls' Highschool where i cleared in 2017.I am currently at the Novel school learning coding and programming.This is a course that offers learners to get skills in web development and design.  </dd>
<dl><dt style="color:blue">EXPERIENCES</dt>
<dd>I have had an experience in Presidents Award Scheme Kenya where i was an awardee and we were able to visit Mauritius to complete our last stage in the long journey.  </dd>
<dl><dt style="color:blue">INTERESTS</dt>
<dd>My interests right now are to build a website that is able to connect missing persons and their families in Kenya. For now am working at a project that is able to assist schools to donate school fees to the less fortunate through the alumni or organizations and  </dd>
<dl><dt style="color:blue">SKILL SET</dt>
<dd>I have aquired skills such as coding where i am able to program using different languages such as HTML,CSS,Java Script,MYSQL and Python. In addition i have acquired abit on hardware skills which is Arduino.Apart from coding, I acquired skills in endurance through a movement i joined called the Presidents Award. </dd>
</div>
<!--footer Section -->
     <div  class="for-full-back " >
               
          
         @karurue.com brand | Always listen to that voice inside you
         
            </div>
    <!--End footer Section -->
<script  src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
			
	
</body>
</html>
