<html>
<head>
</head>
<body>
 <div class="row" >
            <div class="col-md-5 contact-cls" >
                <h3 style="colour:blue">My Contact Details</h3>
					<div >
						<span><i class="fa fa-home"> </i> Address: Nairobi, Embakasi Area</span>
                        <br />
						<span><i class="fa fa-phone"> </i> Phone: +254736389567</span>
                        <br />
						<span><i class="fa fa-envelope-o"> </i>E-Mail: caroline.karurue@gmail.com</span>
                        <br />
					</div>
					<br />
					<div id="social-icon">
						<a href="www.instagran.com">INSTAGRAM</a>
						<a href="www.facebook.com"> FACEBOOK</a>
										
					</div>
            </div>
</body>
</html>