<html>
<head>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<style>
h1{
	 color:green;
     }
  small{
  	font-style:italic;
     }
#main{text-align:center;}
</style>
<style>.new{font-style:italic;color:purple}
#new{font-style:bold;color:yellow; background:white}
body{background-color:black;
font-family:san serif;
font-size:30px;
font-style:italic;}
</style>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Portfolio</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/about">About <span class="sr-only">(current)</span></a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/myproject">My Project</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Login</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="main">
<div class="jumbotron"><strong>
<h1>KARURUE CAROLINE</h1>
<h1>WARUGURU</h1>
<h2>WELCOME TO MY PORTFOLIO</h2></strong>
</div>
</div>
<div id="main">
<a href="about.html">About</a><br>
<a href="myproject.html">My Projects</a><br>
<a href="contact.html">Contact</a><br>
</div>
<h2 style="color:white">MY SOCIAL PLATFORMS</h2>
<a href="mailto:caroline.karurue@gmail.com">EMAIL caroline.karurue@gmail.com</a><br>
<a href="http://instagram.com">INSTAGRAM @karurue_</a><br>
<a href="http://snapchat.com">SNAPCHAT @karurue</a><br>
<a href="http://twitter.com">TWITTER @karurue.brand</a>
<!--footer Section -->
     <div  class="for-full-back "  id="footer" >
               
          
         @karurue.com brand | Always listen to that voice inside you
         
            </div>
    <!--End footer Section -->

<script  src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
