<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>MY JOURNEY KARURUE</title>
    
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
   
    <link href="assets/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" />
      
    <link href="assets/css/style.css" rel="stylesheet" />
    
     <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
    </head>
<body>
   

    <!--Header section  -->
    <div class="container" id="home">
        <div class="row text-center">
      <div class="col-md-12" >
          <h1 class="head-main">THEY CALL ME</h1>
           <h2 class="head-sub-main"> KARURUE</h2>
          <h3 class="head-last"> CAROLINE WARUGURU</h3>
          
          </div>


            </div>
      </div>
	  
    <!--End Header section  -->

     <!-- Navigation -->
      <nav class="navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="htttp://www.binarytheme.com">:) </a>
            </div>
            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#home">HOME</a>
                    </li>
                     <li><a href="#about">ABOUT</a>
                    </li>                    
                    <li><a href="#about-likes">LIKES</a>
                    </li>
                       <li><a href="#likes-friends">FRIENDS</a>
                        </li>
                     <li><a href="#friends-my journey">MY JOURNEY</a>
                        </li>
                         <li><a href="#my journey-contacts">CONTACT</a>
                    </li>
					<li><a href="#contacts-the voice">THE VOICE</a>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav> 
     <!--End Navigation -->

    <!--About Section-->
    <section class="for-full-back color-white " id="about"  >
   <div class="container" >
      
            <div class="row text-center" >
                <div class="col-md-8 col-md-offset-2 ">
                    <h1 style="color:red">Who is Caroline</h1>
                    <h4 style="font style:italics; background-color=black; color:green">
                        <strong>
						



People know me as Karurue Caroline Waruguru. Born on 12th March 2000. Am a Pisces. There is something about pisces that many do not know:<br>
<ol><li>They have an attractive personality</li>
<li>They are shut reserved and secretive</li>
<li>They are naturally honest, generous, sympathetic, loves peace and serenity</li>
<li>They hardly show emotions, tends to bottle up feelings, are observant and asses others.</li>
I dont know if i do all that but oooh well thats what research says. Am my own brand. i keep my small circle of everything literally. I may get emotional most of the times but once am through it is all over. Sometimes i think am tall but when i look at other people i am soo short. My life is simple. I treasure my family soo much. All i want to do afterwards is LAW. Lemme finish with my picture.<br>
<figure>
<image src="me.png">
<figcaption>karurue.com</figcaption>
</figure>




						
                       
                            </strong>
                    </h4>
                </div>
                
            </div>
        
        <div class="row text-center g-pad-bottom" >
                <div class="col-md-12">
                    <h2 style="color:red">What inspires me? </h2>
                    <p>
                       
 <ul><li><h2>DREAMS</h2> </li><li><h2>FAITH</h2></li><br>
		 <dt style="color:red" >DREAMS</dt><dd style="color:green">As much as i love Africa so much, it is my dream to travel most of the parts in the world more. From the seven wonders of the world such as the great wall of china and many more. i know i will be a great lawyer in the future. to be the likes of James Orengo, Paul Muite and Wycliff. One day i will create my own law firm. i have learn how to DREAM BIG. Just like how a child looks up to the sky when an aeroplane passes and dreams to be on it is how ones vision starts.<br>
		 JUST LIKE A WINNER DREAM BIG.
		 <dt style="color:red" >FAITH</dt><dd style="color:green">As we all know 'Faith moves mountains'. This is is so true. Whenever some things look so hard to accomplish all you have to do is have FAITH and PRAY about it persistently. At the end, through the difficulties it will all work out and you will say:<br>
          JESUS DID IT AGAIN		 


                    </p>
                </div>
                
            </div>
      </div>
</section>
   
       <section class="for-full-back color-light" id="about-likes"  >
   <div class="container" >
      
            <div class="row text-center" >
                <div class="col-md-8 col-md-offset-2 ">
                    <h1 style="color:blue">MY FAVOURITES</h1>
                    <h3 style="color:green">
                        <strong>
                       <h2 style="color:red">MUSIC</h2>
					 My forever artist is MR EAZI and WIZKID. Their songs are just so African. Listen to this:<br>
					 
					 By Mr Eazi:)<br>
					 
<audio controls="controls">
<source src="eazi.mp3" type="audio/mpeg">
<a href="eazi.mp3"> Download eazi </a>MP3
</audio><br>

                     By Wizidayo:)<br>
<audio controls="controls">
<source src="wizkid.mp3" type="audio/mpeg">
<a href="wizkid.mp3"> Download wizkid </a>MP3
</audio><br>				 
                         <h2 style="color:red">KENYAN MUSIC</h2>
						 <h2 style="color:blue">NYASHINSKI<h2><p style="color:green">
His music is so inspiring. He is the new taste Kenya needs. If you ask me well i can go to all his concerts ata ya Turukana.</p>
<figure>
<img src="nyash.png">
<figcaption>nyashinski.com</figcaption>
</figure>
                           <h2 style="color:red">MEMES OF KENYA</h2>
						   <h2 style="color:blue" >KDF VIDEOS</h2><p style="color:green" >
It has been trending in Kenya for a while. And like most Kenyans I cant take the madlips.com videos. It is super rib-cracking. If you do not know the meaning of this satisfying meal it is 'Kidathi Kinene Fiu'. I wonder why KDF and not KKF. But well. Enjoy this videos:<br>
<video controls="controls">
<source src="kdf15.mp4" type="video/mp4">
<a href="kdf15.mp3"> Download kdf15 </a>MP4
</video>
<figcaption>video1</figcaption><br>

<video controls="controls">
<source src="kdf5bob.mp4" type="video/mp4">
<a href="kdf5bob.mp3"> Download kdf5 </a>MP4
</video>
<figcaption>video2</figcaption><br>
						   
                            </strong>
                    </h3>
                     <h2 style="colour:red"> MY SMALL CIRCLE</h2>
                </div>
                
            </div>
      <section id="likes-friends">	
        <div class="gallery">
		<img src="kendi.png">
		<img src="penny.png">
		<img src="kaju.png">
		<img src="jebet.png">
		<img src="kate.png">
		<img src="mel.jpg">
		<img src="efay.jpg">
		
		
		
        </div>
        <div class="row text-center" >
                <div class="col-md-12">
                    <h2 style="color:red" > APPRECIATION</h2>
                    <p style="color:green" >
                       
It is through these people that my life is better and i can enjoy life to the fullest. i just wanna thank you so much for being a part in mt life.

                    </p>
                </div>
                
            </div>
      </div>
</section>

   
     <section class="for-full-back color-dark " id="friends-my journey"  >
   <div class="container" >
          <div class="row text-center" >

<div class="col-md-12 g-pad-bottom" >
        
      
             <h1 style="color:blue">SCHOOLS I HAVE BEEN THROUGH<h1>
              <h4>  <div class="col-md-3">
	                <ul class="plan">
	                    <li class="plan-head">MARBEN</li>
	                    <li class="main-price">KINDERGATEN</li>
	                    <p style="color:green">This was my first school where i attended Kg1, Kg2 and Kg3.<br>
						I schooled in Miritini, Mombasa city.<br>
						I made forever friends like:
						<ol><li>Shirleen Jelimo</li>
						<li>Catherine Nyaboke</li>
						<li>Sylvia Manyasi</li>
						<li>Jeffery Otieno</li>
						</p>
					 </ul>
                 </div>
	             <div class="col-md-3">
	                <ul class="plan">
	                    <li class="plan-head">EFFORT SCHOOL</li>
	                    <li class="main-price">PRIMARY</li>
						<p style="color:green">Here I learnt:<br>
						<ol><li>Discipline</li>
						<li>Excellence</li>
						<li>Diligence</li>
						<li>Success</li>
						</p>	                    
	                </ul>
	            </div>
   <div class="col-md-3">
	                <ul class="plan">
	                    <li class="plan-head">ALLIANCE GIRLS'</li>
	                    <li class="main-price">HIGH SCHOOL</li>
	                    <p style="color:green"> It is true that tue friends are made in highschool. Some of them are:<br>
						<ol><li>Alice Nalyaka Gomeri</li>
						<li>Melanie  Wanjiru</li>
						<li>Mbaririe Kinya</li>
						<li>Shirley Chepkirui</li>
						<li>Jane Awour</li>
						<li>Mercy Kyallo</li></p>
	                </ul>
	            </div>

       <div class="col-md-3">
	                <ul class="plan">
	                    <li class="plan-head">KIDSTECH</li>
	                    <li class="main-price">COLLEGE</li>
	                    <p style="color:green">This is an institution that teaches on:<br>
						<ol><li>Coding</li>
						<li>Robotics</li>
						<li>Electronics</li></p>
					
	                </ul>
	            </div>

    </div>
          </div>


       </div></h4>
         </section>

  <section class="for-full-back color-dark " id="friends-my journey"  >
   <div class="container" >
          <div class="row text-center">
		  <h1 style="color:blue">MOST MEMORABLE MOMENT</h1><br>
		  <h2 style="color:white"><p>
		  This picture was taken on a trip to Mauritius o Gold Level Award of the President's Award held on January 2017. It was during the culural night to display our African culture.</h2> </p> 
		  <figure>
		  <img src="mauritiaus.png">
		 <h2> <figcaption style="color:red">mauritius.com</figcaption></h2>
		  </figure>
     
    <!--End Services Section -->  
    <!-- Contact Section -->  
     <section class="for-full-back color-light " id="my journey-contacts"  >
   <div class="container" > 
   
            <div class="row text-center" >
                <div class="col-md-8 col-md-offset-2 ">
                    <h1 style="colour:blue">YOU GOT ANY QUERIES FOR ME?</h1><br>
                    <h4 style="colour:green" >
                        <strong>
                     Any questions for me? Any challenges you want me to do, any dares or game to play you can get me easily through social media sites or through telephone means as illustrated:<br>
					 
                            </strong>
                    </h4>
                </div>
                
            </div>
        
        <div class="row" >
            <div class="col-md-5 contact-cls" >
                <h3 style="colour:blue">My Contact Details</h3>
					<div >
						<span><i class="fa fa-home"> </i> Address: Nairobi, Embakasi Area</span>
                        <br />
						<span><i class="fa fa-phone"> </i> Phone: +254736389567</span>
                        <br />
						<span><i class="fa fa-envelope-o"> </i>E-Mail: caroline.karurue@gmail.com</span>
                        <br />
					</div>
					<br />
					<div id="social-icon">
						<a href="www.instagran.com">INSTAGRAM</a>
						<a href="www.snapchat.com"> SNAPCHAT</a>
										
					</div>
            </div>
                <div class="col-md-7">
                    <h2 style="colour:blue">FOR MORE INFORMATION:</h2>
                    <p style="colour:green">
					Do you ant to meet me? Lets start a conversation. To set a location and time of meeting drop your details below;                                       
                    </p>
						<form action="reg.php" name="reg" id="reg" method="get">
		LOCATION:
		<input type="text" name="sid" id="sid"/><br/>
		NAME:
		<input type="text" name="fname" id="fname"/><br/>
		GENDER:
		<select name="course" id="course">
			<option id="male">MALE</option>
			<option id="female">FEMALE</option>
			</select><br/>
		<input type ="submit" id="btSave" value="Save"/>
		<input type="reset" id="btCancel" value="Cancel"/>
	
	
	</form>
</body>
<p>

</p>
                        <form>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Email address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" required="required" class="form-control" rows="3"  placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default">Submit Request</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                </div>
                
            </div>
      </div>
</section>
          <section id="contacts-the voice">
		  <div>
		  <p style="color:red font-style:italic"><h1>
		  ALWAYS LISTEN TO THAT VOICE INSIDE YOU. </h1>
		  </p>
		  </div>
		  </section>

<!--End Contact Section -->
    <!--footer Section -->
     <div  class="for-full-back "  id="footer" >
               
          
         @karurue.com brand | Success is in your hands
         
            </div>
    <!--End footer Section -->
     <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
     <!-- CORE JQUERY  -->
    <script src="assets/plugins/jquery-1.10.2.js"></script>
     <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="assets/plugins/bootstrap.js"></script>
    <!-- VEGAS SLIDESHOW SCRIPTS -->
    <script src="assets/plugins/vegas/jquery.vegas.min.js"></script>
     <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
     
</body>
</html>
