<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
</style>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Portfolio</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/about">About <span class="sr-only">(current)</span></a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/myproject">My Project</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Login</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<style>
h1{
	 color:green;
     }
  small{
  	font-style:italic;
     }
#main{text-align:center;color:white}
</style>
<style>.new{font-style:italic;color:purple}
#new{font-style:bold;color:white}
body{background-color:black;
font-family:san serif;
font-size:30px;
font-style:italic;}
</style>
<div id="main">
<dl><dt style="color:blue">EDONATION KENYA</dt>
<dd>E DONATION is a platform in which a child in school can get sponsorship to be able to continue with his/her dreams. As a child we all had ambitions in life this may be to either be a doctor, engineer, pilot or a lawyer. This platform is used to enable a child be able to see his/her dreams come true.Through your support we will get a child to go through his/her studies and graduate successfully.Donations come from the alumni of a particular school, an organization, agencies , parents of the school or even well wishers.It is our great desire to see you support us support our children.</dd>
<dl><dt style="color:blue">KARURUE BRAND</dt>
<dd>This is my portfolio to share my experiences and help someone develop from them. This platform enables me to be able to communicate with other people and listen to their struggles and experiences too. Through sites like this one is able to learn more and develop more to a better human being socially and personally.</dd>
<dl><dt style="color:blue">MISSING PERSONS KENYA</dt>
<dd>This is one project that is close to my heart. We have all heard of the events of children getting lost never to be found for days,months or even years. This saddens many parents as most of them dont get the assistance even after a long period of searching and reporting. Of late we have also seen these messages in various platforms such as whatsapp or even twitter and this has enabled the children get located and happily reunited with their parents.To get this going we need a website in Kenya that deals with such cases to give hope to such families and show them there is something that can be done. Most people think that it is only the parents who lose their children but the truth is that children also lose their parents and stay for years looking for them.To assist curb this or easen the search this website is going to collaborate with the authorities and families and the public in general to help in the search  <dd/>
</div>

<!--footer Section -->
     <div  class="for-full-back "  id="footer" >
               
          
         @karurue.com brand | Always listen to that voice inside you
         
            </div>
    <!--End footer Section -->
<script  src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
			
</body>
</html>